{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "CiteBrand API",
    "version": "1.3.0",
    "summary": "Whether AI engines name and link a brand, with evidence for every number.",
    "description": "Agent docs: https://api.citebrand.ai/docs. MCP: https://api.citebrand.ai/mcp. Every response carries meta { schema, schema_version, generated_at, request_id, cost_usd, sources, sample_sizes }; every rate carries n, source and evidence ids."
  },
  "servers": [
    {
      "url": "https://api.citebrand.ai"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "account"
    },
    {
      "name": "sites"
    },
    {
      "name": "visibility"
    },
    {
      "name": "search"
    },
    {
      "name": "site"
    },
    {
      "name": "plan"
    },
    {
      "name": "monitor"
    },
    {
      "name": "jobs"
    },
    {
      "name": "evidence"
    },
    {
      "name": "offsite"
    },
    {
      "name": "agent-ready"
    },
    {
      "name": "public"
    },
    {
      "name": "webhooks"
    }
  ],
  "paths": {
    "/v1/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Who am I",
        "description": "The customer, the key (scopes, owner flag, rate limit), its sites and the engines it may use. Call first to learn what this key can do.\n\nCost: free.",
        "tags": [
          "account"
        ],
        "responses": {
          "200": {
            "description": "Who am I",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/me"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "free"
      }
    },
    "/v1/sites": {
      "get": {
        "operationId": "listSites",
        "summary": "List sites",
        "description": "Every site this key owns with its latest per-lane rates.\n\nCost: free.",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "List sites",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sites"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "free"
      },
      "post": {
        "operationId": "addSite",
        "summary": "Register a site",
        "description": "Register a brand's site. The homepage is fetched live (the audit) and must answer; the response includes the audit. Idempotent per domain: registering again updates brand and aliases. v1.1: for non-operator keys the site starts unverified and site.verification carries the token to publish (DNS TXT or /.well-known/citebrand-verify.txt) before POST /v1/sites/{domain}/verify.\n\nCost: free (plain HTTP audit, ~2-5 s).",
        "tags": [
          "sites"
        ],
        "requestBody": {
          "required": true,
          "description": "The site",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain",
                  "brand"
                ],
                "properties": {
                  "domain": {
                    "type": "string",
                    "example": "peec.ai"
                  },
                  "brand": {
                    "type": "string",
                    "example": "Peec AI"
                  },
                  "aliases": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Other names the brand goes by, for mention detection."
                  },
                  "platform": {
                    "type": "string",
                    "description": "Website builder; detected when omitted."
                  }
                }
              },
              "example": {
                "domain": "peec.ai",
                "brand": "Peec AI",
                "aliases": [
                  "PeecAI"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Register a site",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sites"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "free (plain HTTP audit, ~2-5 s)"
      }
    },
    "/v1/sites/{domain}": {
      "get": {
        "operationId": "getSite",
        "summary": "One site",
        "description": "One site with its latest per-lane rates, subscription and (v1.1) ownership verification state.\n\nCost: free.",
        "tags": [
          "sites"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The site's bare domain, e.g. otterly.ai.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One site",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sites"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "free"
      }
    },
    "/v1/sites/{domain}/verify": {
      "post": {
        "operationId": "verifySite",
        "summary": "Verify domain ownership",
        "description": "v1.1. Looks for citebrand-verify=<token> (the token from POST /v1/sites) in a DNS TXT record of the domain, then in https://<domain>/.well-known/citebrand-verify.txt. Unverified sites can be audited and measured (public data) but cannot receive plans, deliverables or the outreach list. Tokens last 7 days; POST /v1/sites again for a new one. Operator sites are always verified.\n\nCost: free (one DNS lookup and one HTTP fetch).",
        "tags": [
          "sites"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The site's bare domain, e.g. otterly.ai.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verify domain ownership",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sites"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "free (one DNS lookup and one HTTP fetch)"
      }
    },
    "/v1/sites/{domain}/runs": {
      "get": {
        "operationId": "listRuns",
        "summary": "Measurement runs",
        "description": "Every run of the site, newest first, with which artifacts each has (report, search data, plan, category, compare) and its DataForSEO cost.\n\nCost: free.",
        "tags": [
          "sites"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The site's bare domain, e.g. otterly.ai.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Measurement runs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runs"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "free"
      }
    },
    "/v1/sites/{domain}/history": {
      "get": {
        "operationId": "getHistory",
        "summary": "Rates over time",
        "description": "Per-lane rates and per-engine counts of every finished run, oldest first, plus the latest comparison. For trend lines; compare only engines present in both runs.\n\nCost: free.",
        "tags": [
          "visibility"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The site's bare domain, e.g. otterly.ai.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rates over time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/history"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "free"
      }
    },
    "/v1/sites/{domain}/measure": {
      "post": {
        "operationId": "measureBrand",
        "summary": "Start a measurement (job)",
        "description": "Ask AI engines buyer questions and record whether they name and link the brand. Returns 202 with a job; poll status_url or register a webhook. External keys: DataForSEO engines only (google, chatgpt-ui, gemini-ui, perplexity, bing). Questions: questions[] you send, or questions_from_run, or (default) the site's previous questions, or its discovered questions.\n\nCost: DataForSEO per answer: google ~$0.004 (up to $0.008), chatgpt-ui and gemini-ui $0.004, perplexity ~$0.02 (up to $0.05), bing $0.002; 1-15 minutes; free with dry_run.",
        "tags": [
          "visibility"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The site's bare domain, e.g. otterly.ai.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "v1.1: 1 = return the job this request would create (engines, cost estimate, budget), status 200, without creating it or spending anything. Also accepted as \"dry_run\": true in the body.",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "true"
              ]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "What to measure",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "questions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 20,
                    "description": "1-20 buyer questions, without the brand name."
                  },
                  "questions_from_run": {
                    "type": "string",
                    "description": "Reuse the questions of this run id (and compare with the previous run)."
                  },
                  "questions_count": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "description": "Owner keys only: write this many new questions from the homepage (one claude call)."
                  },
                  "engines": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "google",
                        "chatgpt-ui",
                        "gemini-ui",
                        "perplexity",
                        "bing",
                        "claude",
                        "chatgpt",
                        "gemini"
                      ]
                    },
                    "description": "Default for external keys: google, chatgpt-ui, gemini-ui, perplexity."
                  },
                  "samples": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5,
                    "description": "Answers per question and engine (default 1; 3 is steadier)."
                  },
                  "brand_lists": {
                    "type": "boolean",
                    "description": "Owner keys only: list competitor brands in DataForSEO answers (one claude call)."
                  },
                  "max_cost_usd": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 10,
                    "description": "Refuse to start when the estimate could exceed this (USD). Also the DataForSEO budget the engine enforces call by call (lowered to the key's own cap when it has one).",
                    "default": 1
                  },
                  "dry_run": {
                    "type": "boolean",
                    "description": "v1.1: true = return the job it would create without starting it (same as ?dry_run=1)."
                  }
                }
              },
              "example": {
                "engines": [
                  "google",
                  "chatgpt-ui"
                ],
                "samples": 1,
                "questions_from_run": "2026-09-26T10-04-49",
                "max_cost_usd": 0.5
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Start a measurement (job)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/job"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "DataForSEO per answer: google ~$0.004 (up to $0.008), chatgpt-ui and gemini-ui $0.004, perplexity ~$0.02 (up to $0.05), bing $0.002; 1-15 minutes; free with dry_run"
      }
    },
    "/v1/sites/{domain}/visibility": {
      "get": {
        "operationId": "getVisibility",
        "summary": "Latest visibility",
        "description": "The latest finished measurement (or ?run=): per lane and engine, mention and citation rates with n, source and the ids of the answers behind them; the question x engine matrix; who gets cited instead; and the comparison with the previous run. Lanes are never blended.\n\nCost: free (reads a stored run).",
        "tags": [
          "visibility"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The site's bare domain, e.g. otterly.ai.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run",
            "in": "query",
            "required": false,
            "description": "A run id (2026-09-27T10-38-04) or \"latest\" (default: the newest run that has this data).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Comma list of extra sections: answers (every raw answer with its text), audit, prompts, status (files and live job), raw (the stored engine files).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest visibility",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/visibility"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "free (reads a stored run)"
      }
    },
    "/v1/sites/{domain}/search-data": {
      "get": {
        "operationId": "getSearchData",
        "summary": "Search data",
        "description": "DataForSEO search data of a run: monthly searches per question, Google's top 10 with AI-cited pages marked, the brand's and competitors' ranked keywords, gaps, and how many AI-cited pages also rank in Google's top 10.\n\nCost: free (reads a stored run).",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The site's bare domain, e.g. otterly.ai.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run",
            "in": "query",
            "required": false,
            "description": "A run id (2026-09-27T10-38-04) or \"latest\" (default: the newest run that has this data).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Comma list of extra sections: answers (every raw answer with its text), audit, prompts, status (files and live job), raw (the stored engine files).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/search-data"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "free (reads a stored run)"
      }
    },
    "/v1/sites/{domain}/category": {
      "get": {
        "operationId": "getCategory",
        "summary": "Category share of voice",
        "description": "AI share of voice for the category from DataForSEO LLM Mentions: you vs up to three competitors on Google AI Overviews and ChatGPT, monthly history, new and lost, most cited domains and pages.\n\nCost: free (reads a stored run).",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The site's bare domain, e.g. otterly.ai.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run",
            "in": "query",
            "required": false,
            "description": "A run id (2026-09-27T10-38-04) or \"latest\" (default: the newest run that has this data).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Comma list of extra sections: answers (every raw answer with its text), audit, prompts, status (files and live job), raw (the stored engine files).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category share of voice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/category"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "free (reads a stored run)"
      },
      "post": {
        "operationId": "startCategory",
        "summary": "Collect category data (job)",
        "description": "Collect category share of voice for a finished measurement (DataForSEO LLM Mentions, five calls, about $0.75, at most about $1.50). Returns a job.\n\nCost: ~$0.75 DataForSEO, 1-2 minutes; free with dry_run.",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The site's bare domain, e.g. otterly.ai.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "v1.1: 1 = return the job this request would create (engines, cost estimate, budget), status 200, without creating it or spending anything. Also accepted as \"dry_run\": true in the body.",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "true"
              ]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Options",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "run": {
                    "type": "string"
                  },
                  "competitors": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 3
                  },
                  "max_cost_usd": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 10,
                    "description": "Refuse to start when the estimate could exceed this (USD). Also the DataForSEO budget the engine enforces call by call (lowered to the key's own cap when it has one).",
                    "default": 1.5
                  },
                  "dry_run": {
                    "type": "boolean",
                    "description": "v1.1: true = return the job it would create without starting it (same as ?dry_run=1)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Collect category data (job)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/job"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "~$0.75 DataForSEO, 1-2 minutes; free with dry_run"
      }
    },
    "/v1/sites/{domain}/questions": {
      "get": {
        "operationId": "getQuestions",
        "summary": "Discovered buyer questions",
        "description": "Buyer questions written from real search demand (keywords, monthly volumes, intent) and who competes for them.\n\nCost: free.",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The site's bare domain, e.g. otterly.ai.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Discovered buyer questions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/questions"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "free"
      }
    },
    "/v1/sites/{domain}/discover": {
      "post": {
        "operationId": "discoverQuestions",
        "summary": "Discover buyer questions (job, owner keys)",
        "description": "Owner keys only for now (question writing runs on the operator's CLI subscription). DataForSEO Labs keyword ideas, suggestions and intent, then one claude call writes n questions.\n\nCost: ~$0.30 DataForSEO + 1-2 claude calls, 2-4 minutes; free with dry_run.",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The site's bare domain, e.g. otterly.ai.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "v1.1: 1 = return the job this request would create (engines, cost estimate, budget), status 200, without creating it or spending anything. Also accepted as \"dry_run\": true in the body.",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "true"
              ]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Options",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "n": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 25
                  },
                  "seeds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "max_cost_usd": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 10,
                    "description": "Refuse to start when the estimate could exceed this (USD). Also the DataForSEO budget the engine enforces call by call (lowered to the key's own cap when it has one)."
                  },
                  "dry_run": {
                    "type": "boolean",
                    "description": "v1.1: true = return the job it would create without starting it (same as ?dry_run=1)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Discover buyer questions (job, owner keys)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/job"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "~$0.30 DataForSEO + 1-2 claude calls, 2-4 minutes; free with dry_run"
      }
    },
    "/v1/sites/{domain}/audit": {
      "get": {
        "operationId": "auditSite",
        "summary": "Audit a site live",
        "description": "Fetches the homepage, robots.txt, llms.txt and sitemap.xml now: AI bot access, title, description, canonical, h1, indexability, server-rendered text, freshness signal, platform. Works for any domain.\n\nCost: free, 2-10 s.",
        "tags": [
          "site"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The site's bare domain, e.g. otterly.ai.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audit a site live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/audit"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "free, 2-10 s"
      }
    },
    "/v1/sites/{domain}/plan": {
      "get": {
        "operationId": "getPlan",
        "summary": "The plan",
        "description": "Ranked recommendations for a run, each with the evidence ids behind it, the page, the exact change, how to measure it, and a plain-language version; plus what not to bother with.\n\nCost: free (reads a stored run).",
        "tags": [
          "plan"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The site's bare domain, e.g. otterly.ai.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run",
            "in": "query",
            "required": false,
            "description": "A run id (2026-09-27T10-38-04) or \"latest\" (default: the newest run that has this data).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Comma list of extra sections: answers (every raw answer with its text), audit, prompts, status (files and live job), raw (the stored engine files).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/plan"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "free (reads a stored run)"
      },
      "post": {
        "operationId": "startPlan",
        "summary": "Write the plan (job, owner keys)",
        "description": "Owner keys only for now: evidence (fetch cited pages), search data (DataForSEO) and the analyst + critic (CLI subscriptions) for a finished measurement.\n\nCost: ~$0.10-0.20 DataForSEO + analyst and critic calls, 10-25 minutes; free with dry_run.",
        "tags": [
          "plan"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The site's bare domain, e.g. otterly.ai.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "v1.1: 1 = return the job this request would create (engines, cost estimate, budget), status 200, without creating it or spending anything. Also accepted as \"dry_run\": true in the body.",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "true"
              ]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Options",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "run": {
                    "type": "string"
                  },
                  "max_cost_usd": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 10,
                    "description": "Refuse to start when the estimate could exceed this (USD). Also the DataForSEO budget the engine enforces call by call (lowered to the key's own cap when it has one)."
                  },
                  "dry_run": {
                    "type": "boolean",
                    "description": "v1.1: true = return the job it would create without starting it (same as ?dry_run=1)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Write the plan (job, owner keys)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/job"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "~$0.10-0.20 DataForSEO + analyst and critic calls, 10-25 minutes; free with dry_run"
      }
    },
    "/v1/sites/{domain}/deliverables/{rec_id}": {
      "get": {
        "operationId": "getDeliverable",
        "summary": "A deliverable",
        "description": "The publishable draft for one plan item (page, technical artifacts or outreach list) as markdown, with numbers to verify.\n\nCost: free (reads a stored run).",
        "tags": [
          "plan"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The site's bare domain, e.g. otterly.ai.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rec_id",
            "in": "path",
            "required": true,
            "description": "A recommendation id from the plan, e.g. R2.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run",
            "in": "query",
            "required": false,
            "description": "A run id (2026-09-27T10-38-04) or \"latest\" (default: the newest run that has this data).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A deliverable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deliverable"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "free (reads a stored run)"
      }
    },
    "/v1/sites/{domain}/subscribe": {
      "post": {
        "operationId": "subscribe",
        "summary": "Re-measure weekly",
        "description": "Weekly re-measure with the latest run's questions and engines, compared each time. Owner keys: a Windows task on the operator's machine. External keys: recorded with next_run_at; executed by a runner that is not part of v1.\n\nCost: free to register; each run costs what a measurement costs.",
        "tags": [
          "monitor"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The site's bare domain, e.g. otterly.ai.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Cadence",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cadence": {
                    "type": "string",
                    "enum": [
                      "weekly"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Re-measure weekly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscription"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "free to register; each run costs what a measurement costs"
      },
      "delete": {
        "operationId": "unsubscribe",
        "summary": "Stop re-measuring",
        "description": "Removes the weekly re-measure.\n\nCost: free.",
        "tags": [
          "monitor"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The site's bare domain, e.g. otterly.ai.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stop re-measuring",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscription"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "free"
      }
    },
    "/v1/jobs": {
      "get": {
        "operationId": "listJobs",
        "summary": "List jobs",
        "description": "This customer's jobs, newest first.\n\nCost: free.",
        "tags": [
          "jobs"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "required": false,
            "description": "Only this domain.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "active, all, queued, running, done or failed.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "1-200, default 50.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/job"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "free"
      }
    },
    "/v1/jobs/{id}": {
      "get": {
        "operationId": "getJob",
        "summary": "One job",
        "description": "Status (queued, running, done, failed, cancelled), progress (answers so far of expected, stage), cost when done, and result URLs. Status is derived from the engine's run files; poll every 10-30 s.\n\nCost: free.",
        "tags": [
          "jobs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "job_…",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/job"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "free"
      },
      "delete": {
        "operationId": "cancelJob",
        "summary": "Cancel a job",
        "description": "v1.1. Kills the job's process tree (the wrapper and the engine command it runs) and marks the job cancelled, which is final. DataForSEO spend made before the cancel stays on the job and in usage; a job.cancelled webhook event is sent. 409 job_not_running when it already finished.\n\nCost: free.",
        "tags": [
          "jobs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "job_…",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cancel a job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/job"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "free"
      }
    },
    "/v1/evidence/{id}": {
      "get": {
        "operationId": "getEvidence",
        "summary": "Resolve an evidence id",
        "description": "The raw artifact behind a claim: ans_… is one answer (full text, cited URLs, engine, lane, vendor, seconds, cost); page_… is a fetched page record; shot_… a proof screenshot of the search results page (v1.1: ?format=png returns the image, ?format=data_url embeds it). Ids appear in every response that cites them.\n\nCost: free.",
        "tags": [
          "evidence"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ans_<domain>_<run>_<engine>_<hash>_<sample>, page_<domain>_<run>_<hash>, shot_<domain>_<run>_<hash>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "shot_… only: png (the image bytes, image/png), data_url (JSON with the image inline) or json (default).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resolve an evidence id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/evidence"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "free"
      }
    },
    "/v1/sites/{domain}/outreach": {
      "get": {
        "operationId": "getOutreach",
        "summary": "Outreach list",
        "description": "Who to ask for a link or a mention: domains that link to 2+ of your competitors but not to you (DataForSEO Backlinks domain_intersection), domains the run's AI answers cite, the category's most cited domains (LLM Mentions) and pages that name you without linking (mentions), ranked by (cited + 1) x (competitor links + 1), each with why, what to ask for, which competitors it links to and the answers (evidence ids) that cited it. Verified sites only for external keys.\n\nCost: free (reads a stored list).",
        "tags": [
          "offsite"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The site's bare domain, e.g. otterly.ai.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run",
            "in": "query",
            "required": false,
            "description": "A run id or \"latest\" (default: the newest run that has this data).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "1-300 targets (default 50).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Outreach list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outreach"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "free (reads a stored list)"
      },
      "post": {
        "operationId": "startOutreach",
        "summary": "Build the outreach list (job)",
        "description": "Backlinks summary for you and 3 competitors, domain_intersection per competitor pair (excluding you), bulk_ranks for the domains the run cited: 8 DataForSEO requests, about $0.20. Competitors default to the run's top cited competitor domains.\n\nCost: ~$0.20 DataForSEO (at most $0.35), 1-2 minutes.",
        "tags": [
          "offsite"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The site's bare domain, e.g. otterly.ai.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "1 = return the job it would create (estimate, budget), 200, nothing started.",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "true"
              ]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Options",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "run": {
                    "type": "string"
                  },
                  "competitors": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 3
                  },
                  "max_cost_usd": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 10,
                    "default": 0.5,
                    "description": "Refuse to start when the worst case exceeds this (USD); also the engine's DataForSEO budget (lowered to the key's cap)."
                  },
                  "dry_run": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Build the outreach list (job)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/job"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "~$0.20 DataForSEO (at most $0.35), 1-2 minutes"
      }
    },
    "/v1/sites/{domain}/crawl-check": {
      "get": {
        "operationId": "getCrawlCheck",
        "summary": "Can AI crawlers read you",
        "description": "The latest crawl check: the homepage and up to 4 key pages fetched by DataForSEO On-Page once per AI user agent (GPTBot, OAI-SearchBot, ChatGPT-User, ClaudeBot, Claude-SearchBot, PerplexityBot, Google-Extended, Bingbot), each ok / blocked / challenged / empty against a browser fetch, plus Lighthouse (mobile) per page and the audit check ai_crawler_access. User-agent rules only; IP or verified-bot rules are not tested.\n\nCost: free (reads the stored check).",
        "tags": [
          "site"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The site's bare domain, e.g. otterly.ai.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "at",
            "in": "query",
            "required": false,
            "description": "A timestamp from history[] (default: the latest).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Can AI crawlers read you",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/crawl-check"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "free (reads the stored check)"
      },
      "post": {
        "operationId": "startCrawlCheck",
        "summary": "Run a crawl check (job)",
        "description": "DataForSEO On-Page instant_pages with custom_user_agent per bot ($0.00015 per fetch; 5 pages x 8 bots = 40) and Lighthouse per page ($0.005): about $0.03.\n\nCost: ~$0.03 DataForSEO, 1-3 minutes.",
        "tags": [
          "site"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The site's bare domain, e.g. otterly.ai.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "1 = return the job it would create (estimate, budget), 200, nothing started.",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "true"
              ]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Options",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pages": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5
                  },
                  "lighthouse": {
                    "type": "boolean"
                  },
                  "max_cost_usd": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 10,
                    "default": 0.2,
                    "description": "Refuse to start when the worst case exceeds this (USD); also the engine's DataForSEO budget (lowered to the key's cap)."
                  },
                  "dry_run": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Run a crawl check (job)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/job"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (error body)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed for this key (owner_only, engine_not_allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no data yet (details.next says how to get it)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "413": {
            "description": "Request body over the cap (1 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (Retry-After)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common.error"
                }
              }
            }
          }
        },
        "x-cost": "~$0.03 DataForSEO, 1-3 minutes"
      }
    },
    "/v1/sites/{domain}/mentions": {
      "get": {
        "operationId": "getMentions",
        "summary": "What the web is saying",
[...]
